@charset "UTF-8";

header li {
	list-style: none;
	display: inline-block;
	justify-content: flex-end;
  width: 200%vw;
}
header {
	display: flex;
	align-items: center;
 	width: 100%vw;
 	height: 10%vh;
 	 
}
#nav-title {
	display: flex;	
	margin-right: auto;
	font-size: 50%vh;	
}
header a {
	
	text-decoration: none;
	color: #555;
	transition: all 0.3s ease 0s;
}

header a:hover {
	color: rgb(0, 128, 192);
}
main {
	margin-top: 15em;
	margin-left: 15em;
}



/* body{ */
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	justify-content: center; */
/* 	align-items: center; */
/* 	width: 100%; */
/* 	height: 95%; */
/* 	margin: auto; */
/* } */


footer {
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c0c0c0;
  color: #3a3a3a;
  text-align: center;
}
 fieldset {
    cursor: pointer; /* Change le curseur pour indiquer que le fieldset est cliquable */
}

 
 
        