<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" data-th-href="@{/css/general.css}">

<title>Le Petit Coin</title>
</head>
<body>

	<div th:replace="~{/fragments/fragment-entete :: fragment-entete}"></div>
	
	<h2>Nouvelle vente</h2>
	
		<img src="" alt="" />
		<form th:action="@{/creationVente}" method="POST" th:object="${nouvelleEnchere}">
				<label for="inputNom">Article :</label>
				<input th:field="*{nomArticle}" id="inputNom" type="text"  />
				<label for="inputDescription">Description :</label>
				<textarea th:field="*{description}" id="inputDescription" cols="30" rows="10" ></textarea>
				<label for="inputCategorie">Catégorie :</label>
				<select id="categories" th:field="*{categorieEnSession}">
            		<option th:each="item : ${categorieEnSession}" th:text="${item.libelle}" th:value="${item.id}"></option>
        		</select>				
				<label for="inputFile">Photo de l'article :</label>
				<input type="file" id="profile_pic" name="profile_pic" accept=".jpg, .jpeg, .png" />
				<label for="inputMAP">Mise à prix :</label>
				<input type="number" id="inputMAP" name="inputMAP" min="1"  th:field="*{prixInitial}"/>
				<label for="inputDebut">Début de l'enchère :</label>
				<input id="inputDebut" type="datetime-local" value=""  th:field="*{dateDebutEnchere}"/>
				<label for="inputFin">Fin de l'enchère :</label>
				<input id="inputFin" type="datetime-local" value=""  th:field="*{dateFinEncheres}"/>
			
			<fieldset>
			<legend>Retrait </legend>
			<ul>
			<li><label for="inputRue">Rue :</label>
				<input id="inputRue" type="text" th:name="rue" />
			</li>
			<li><label for="inputCP">Code Postal :</label>
				<input id="inputCP" type="text" th:name="codePostal"  />
			</li>
			<li><label for="inputVille">Ville :</label>
				<input id="inputVille" type="text" th:name="ville"  />
			</li>
			</ul>
			</fieldset>
		
		

		
			<button type="submit">Enregistrer</button>
			<input type="reset" value="Reset" />Annuler<br />
			<input type="reset" value="Reset" />Annuler la vente<br />
			
		</form>
		
		
		
		



	 <div class="footer" th:replace="~{/fragments/fragment-piedpage :: fragment-piedpage}"></div> 

</body>
</html>