<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" data-th-href="@{/css/general.css}">
<link rel="stylesheet" data-th-href="@{/css/enchere.css}">
<link rel="stylesheet" data-th-href="@{/css/profil.css}">
<link rel="stylesheet" data-th-href="@{/css/vente.css}">



<title>Le Petit Coin</title>
</head>
<body>

	<div th:replace="~{/fragments/fragment-entete :: fragment-entete}"></div>
	<form th:action="@{/creationVente}" method="POST" th:object="${nouvelleEnchere}" enctype="multipart/form-data">
	<h2>Nouvelle vente</h2>
	
		<img src="img/apercu.jpg" alt="Photo de l'article" />
		
			<div data-th-replace="~{/fragments/errors/fragment-errors :: frag-errors}" ></div>

				<div><label for="inputNom">Article :</label>
					<input th:field="*{nomArticle}" id="inputNom" type="text"  /> </div>
				<div data-th-replace="~{/fragments/errors/error :: frag-error('nomArticle')}" ></div>
				
				<div>
					<label for="inputDescription">Description :</label>
					<textarea th:field="*{description}" id="inputDescription" cols="80" rows="10" ></textarea>
				</div>
				<div data-th-replace="~{/fragments/errors/error :: frag-error('description')}" ></div>
				
				<div>
					<label for="inputCategorie">Catégorie :</label>
					<select id="categories" th:field="*{categorieArticle}">
					            		<option th:each="item : ${categoriesSession}" th:text="${item.libelle}" th:value="${item.id}"></option>
				</select>
				</div>        						
        		<div data-th-replace="~{/fragments/errors/error :: frag-error('categorieArticle')}" ></div>
				

				<div>
					<label for="inputFile">Photo de l'article :</label>
					<input type="file" id="profile_pic" name="profile_pic" accept=".jpg, .jpeg, .png" />
				</div>
				<!-- div data-th-replace="~{/fragments/errors/error :: frag-error('profile_pic')}" ></div>-->

				<label for="inputMAP">Mise à prix :</label>
				<input type="number" id="inputMAP" th:field="*{prixInitial}"/>
				<div data-th-replace="~{/fragments/errors/error :: frag-error('prixInitial')}" ></div>
				
				<label for="inputDebut">Début de l'enchère :</label>
				<input id="inputDebut" type="datetime-local" value=""  th:field="*{dateDebutEnchere}"/>
				<div data-th-replace="~{/fragments/errors/error :: frag-error('dateDebutEnchere')}" ></div>
				
				<label for="inputFin">Fin de l'enchère :</label>
				<input id="inputFin" type="datetime-local" value=""  th:field="*{dateFinEncheres}"/>
				<div data-th-replace="~{/fragments/errors/error :: frag-error('dateFinEncheres')}" ></div>
			
			<fieldset>
			<legend>Retrait </legend>
			<ul>
			<li><label for="inputRue">Rue :</label>

				<input id="inputRue" type="text" th:field="*{lieuRetrait.rue}" />

				<div data-th-replace="~{/fragments/errors/error :: frag-error('lieuRetrait.rue')}" ></div>
			</li>
			<li><label for="inputCP">Code Postal :</label>
				<input id="inputCP" type="text" th:field="*{lieuRetrait.code_postal}"  />
				<div data-th-replace="~{/fragments/errors/error :: frag-error('lieuRetrait.code_postal')}" ></div>
			</li>
			<li><label for="inputVille">Ville :</label>
				<input id="inputVille" type="text" th:field="*{lieuRetrait.ville}"  />
				<div data-th-replace="~{/fragments/errors/error :: frag-error('lieuRetrait.ville')}" ></div>
			</li>
			
			</ul>
			</fieldset>
		
		

		<div class="button-container">
			<button type="submit">Enregistrer</button>
			<button type="reset" >Annuler</button><br />
			<button type="reset">Annuler la vente</button><br />
		</div>	
		</form>
		
		
		
		



	 <div class="footer" th:replace="~{/fragments/fragment-piedpage :: fragment-piedpage}"></div> 

</body>
</html>