<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" data-th-href="@{/css/general.css}">

<title>Le Petit Coin</title>
</head>
<body>

	<div th:replace="~{/fragments/fragment-entete :: fragment-entete}"></div>
	
	<h2>Mon profil</h2>
	
	<form th:action="@{/creationProfil}"  method="POST" th:object="${newUtilisateur}">
		<ul>
			<li><label for="inputPseudo">Pseudo :</label>
				<input id="inputPseudo" type="text" th:field="*{pseudo}" />
			</li>
			<li><label for="inputNom">Nom :</label>
				<input id="inputNom" type="text"  th:field="*{nom}"/>
			</li>
			<li><label for="inputPrenom">Prénom :</label>
				<input id="inputPrenom" type="text"  th:field="*{prenom}"/>
			</li>
			<li><label for="inputEmail">Email :</label>
				<input id="inputEmail" type="email"  th:field="*{email}"/>
			</li>
			<li><label for="inputTelephone">Téléphone :</label>
				<input id="inputTelephone" type="text"  th:field="*{telephone}"/>
			</li>
			<li><label for="inputRue">Rue :</label>
				<input id="inputRue" type="text"  th:field="*{rue}"/>
			</li>
			<li><label for="inputCP">Code Postal :</label>
				<input id="inputCP" type="text"  th:field="*{codePostal}"/>
			</li>
			<li><label for="inputVille">Ville :</label>
				<input id="inputVille" type="text" th:field="*{ville}" />
			</li>
			<li><label for="inputPassword">Mot de passe :</label>
				<input id="inputPassword" type="password"  th:field="*{motDePasse}"/>
			</li>
			<li><label for="inputPassword">Confirmation :</label>
				<input id="inputPassword" type="password"  />
			</li>
			
		
		</ul>
	
		<!-- boutons à activer -->
			<button type="submit">Créer</button>
			<button type="reset">Reset</button>
			<button type="reset">Annuler</button>
		</form>	
			
			<br />
		
		
		
		
		



	 <div class="footer" th:replace="~{/fragments/fragment-piedpage :: fragment-piedpage}"></div> 

</body>
</html>