<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" data-th-href="@{/css/general.css}">

<title>Le Petit Coin</title>
</head>
<body>

	<div th:replace="~{/fragments/fragment-entete :: fragment-entete}"></div>


	
		<img src="" alt="" />
		<form th:each="a : ${a}" >
		<ul >
		
			<li><label for="inputNom">Article :</label>
				<input th:value="${a.nomArticle}" id="inputNom" type="text"  />
			</li>
			<li><label for="inputDescription">Description :</label>
				<textarea th:text="${a.description}" id="inputDescription" cols="30" rows="10" ></textarea>
			</li>
			<li><label for="inputCategorie">Catégorie :</label>
				<input th:value="${a.categorieArticle.libelle}" id="inputCategorie" type="text">
										
			</li>
			<li><label for="inputPrix">Meilleure offre :</label>
				<input type="number" id="inputPrix" name="inputMAP" min="1"  th:value="${a.prixVente}" readonly="readonly"/>
			</li>
			<li><label for="inputMAP">Mise à prix :</label>
				<input type="number" id="inputMAP" name="inputMAP" min="1"  th:value="${a.prixInitial}"/>
			</li>
			
			<li><label for="inputFin">Fin de l'enchère :</label>
				<input id="inputFin" type="text"   th:value="${a.dateFinEncheres}"/>
			</li>
			
			<li>	
			<label for="inputRetrait">Retrait</label>
			<textarea  th:text="${a.lieuRetrait}" id="lieuRetrait" cols="30" rows="10"></textarea>
			</li>
			
			<li><label for="inputVendeur">Vendeur :</label>
				<input id="inputVendeur" type="text"   th:value="${a.vendeur.pseudo}"/>
			</li>
			<li><label for="inputTelephone">Téléphone :</label>
				<input id="inputTelephone" type="text"   th:value="${a.vendeur.telephone}"/>
			</li>
			
			</ul>
		</form>
		
		
		<div class="footer"
		th:replace="~{/fragments/fragment-piedpage :: fragment-piedpage}"></div>
</body>
</html>