<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" data-th-href="@{/css/general.css}">

<title>Le Petit Coin</title>
</head>
<body>

	<div th:replace="~{/fragments/fragment-entete :: fragment-entete}"></div>
	
	<h2>Liste des enchères</h2>
	
	<form action="POST">
		<label th:if="0>1">Filtres</label> 
			<label for="categories">Catégories : </label>
			<select id="categories" th:field="*{categorieEnSession}">
            <option th:each="item : ${categorieEnSession}" th:text="${item.libelle}" th:value="${item.id}"></option>
        </select>
			<button type="submit">Rechercher</button>
	</form>
	
		<fieldset th:each="enchere: ${listeEncheres}">			
			<img src="" alt="" />
			<ul>
			<li><label for="inputArticle"></label>
				<input id="inputArticle" type="text" th:value="${enchere.nomArticle}" readonly  />
			</li>
			<li><label for="inputPrix">Prix :</label>
				<input id="inputPrix" type="text" th:value="${enchere.prixVente}"  readonly/>
			</li>
			<li><label for="inputFin">Fin de l'enchère :</label>
				<input id="inputFin" type="text" th:value="${enchere.dateFinEncheres}" readonly/>
			</li>
			<li><label for="inputVendeur">Vendeur :</label>
				<input id="inputVendeur" type="text" th:value="${enchere.vendeur.pseudo}"  readonly/>
			</li>
			</ul>
			</fieldset>




	 <div class="footer" th:replace="~{/fragments/fragment-piedpage :: fragment-piedpage}"></div> 

</body>
</html>