<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" data-th-href="@{/css/general.css}">

<title>Le Petit Coin</title>
</head>
<body>

	<div th:replace="~{/fragments/fragment-entete :: fragment-entete}"></div>
	
	<h2>Liste des enchères</h2>
	
	<form action="POST">
		<label th:if="0>1">Filtres</label> 
			<label for="categories">Catégories : </label>
			<select id="categories" th:field="*{categorieEnSession}">
            <option th:each="item : ${categorieEnSession}" th:text="${item.libelle}" th:value="${item.id}"></option>
        </select>
			<button type="submit">Rechercher</button>
	</form>




	 <div class="footer" th:replace="~{/fragments/fragment-piedpage :: fragment-piedpage}"></div> 

</body>
</html>