<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" data-th-href="@{/css/general.css}">

<title>Le Petit Coin</title>
</head>
<body>
	<div th:replace="~{/fragments/fragment-entete :: fragment-entete}"></div>

<!-- le th:action et le th:object ne vont pas -->
<form th:action="@{/miseAJourProfil}"  method="POST" th:object="${utilisateur}">
	<div data-th-replace="~{/fragments/errors/fragment-errors :: frag-errors}" ></div>
		<ul >
			
			<li><label for="inputPassword">Nouveau mot de passe :</label>
				<input id="inputPassword" type="password"  th:field="*{motDePasse}"/>
				<div data-th-replace="~{/fragments/errors/error :: frag-error('motDePasse')}" ></div>
			</li>
			<li><label for="inputPasswordConfirm">Confirmation du nouveau mot de passe:</label>

				<input id="inputPasswordConfirm" type="password"  />

			</li>
		
		</ul>
	
			<button type="submit">Valider</button>
			
		</form>	





	 <div class="footer" th:replace="~{/fragments/fragment-piedpage :: fragment-piedpage}"></div> 

</body>
</html>